<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Add a device</h1>
            <p class="lead">Add a device to mySmartHome.</p>
        </div>
        
        <div class="container">
            <div class="alert alert-success" role="alert" id="successBanner">
                Successfully added device to mySmartHome.
                <a href="/">Back to Homepage</a> or <a href="/add">Add another</a>.
            </div>
                <form id="addForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" id="form_deviceTypes">
                                <label for="deviceTypes">Device Type: </label>
                                <select class="form-control" id="deviceTypes" name="deviceType">
                                    <% deviceTypes.forEach(function(deviceType){ %>
                                    <option value="<%= deviceType.name %>"><%= deviceType.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" id="form_onOff">
                            <div class="form-group">
                                <label for="onOff">On/Off: </label>
                                <select class="form-control" name="onOff" id="onOff">
                                    <option value=1>On</option>
                                    <option value=0>Off</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6" id="form_openClose">
                            <div class="form-group">
                                <label for="openClose">Open/Close: </label>
                                <select class="form-control" name="openClose" id="openClose">
                                    <option value=1>Open</option>
                                    <option value=0>Close</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6" id="form_adjustVol">
                            <div class="form-group">
                                <label for="adjustVol">Volume: (0-100)</label>
                                <input class="form-control" type="number" name="volume" id="adjustVol" placeholder=10 required></input>
                            </div>
                        </div>
                        <div class="col-lg-6" id="form_adjustTemp">
                            <div class="form-group">
                                <label for="adjustTemp">Temperature: (0-100 degree Celcius for non-cookware, 400 max for cookware) </label>
                                <input class="form-control" type="number" name="temperature" id="adjustTemp" placeholder=20 required></input>
                            </div>
                        </div>
                        <div class="col-lg-6" id="form_adjustBrightness">
                            <div class="form-group">
                                <label for="adjustBrightness">Brightness: (0-100) </label>
                                <input class="form-control" type="number" name="brightness" id="adjustBrightness" placeholder=50 required></input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary" id="form_submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

    </body>
        <%- include('../partials/foot'); %>
        <script>
            var deviceTypes = {<% deviceTypes.forEach(function(deviceType){ %>
            "<%= deviceType.name %>": {id: <%=deviceType.id %>, canOnOff: <%= deviceType.canOnOff %>, canOpenClose: <%= deviceType.canOpenClose %>, canAdjustVol: <%= deviceType.canAdjustVol %>, canAdjustTemp: <%= deviceType.canAdjustTemp %>, canAdjustBrightness: <%= deviceType.canAdjustBrightness %>},
            <% }) %>};

            $(document).ready(function(){
                $("#successBanner").hide();
                var selectedDeviceType = $("#deviceTypes").val();
                updateAvailableFields(selectedDeviceType, deviceTypes);
                $("#deviceTypes").change(function(){
                    selectedDeviceType = $("#deviceTypes").val();
                    updateAvailableFields(selectedDeviceType, deviceTypes);
                });
                $("#form_submit").click(function(){
                    event.preventDefault();
                    formElements = handleForm(selectedDeviceType, deviceTypes);
                    $.ajax({
                        method: "POST",
                        url: "/add-device",
                        data: formElements
                    })
                        .done(function(){
                            $("#successBanner").show();
                            $("#addForm").hide();
                        });
                });
            });
        </script>
</html>