<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">    
    <title>London Crime Rate by wards</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
</head>
    <header>
    </header>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h5 class="display-6">London Crime Count by Wards in the past 24 months. (Available data: 2020/03 - 2022/04)</h5>
                        <p class="lead">Average: <span id="average"></span></p>
                    </div>
                </div>
            </div>
        </div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-3">
                      <form>
                        <div class="form-group">
                          <div class="form-row">
                              <div class = "col">
                                <label for="boroughSelect">Select a borough</label>
                                <select class="form-control" id="boroughSelect">
                                    <option>All boroughs</option>
                                    <% for(var i = 0; i<result[0].length; i++) {%>
                                    <option <% if(borough == result[0][i]['boroughName']){ %>selected<%}%> ><%= result[0][i]['boroughName'] %></option>
                                  <% } %>
                                </select>
                              </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label>Select period (inclusive): </label>
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="text" id="startYearMonth" class="form-control" value="<%= startYearMonth %>" placeholder="From (YYYYMM)">
                                    </div>
                                    <div class="col">
                                        <input type="text" id="endYearMonth" class="form-control" value="<%= endYearMonth %>" placeholder="To (YYYYMM)">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Select Crime Type: </label>
                                <p>
                                    <a href="#" id="selectAllCrime">Select All</a>
                                    <a href="#" class="mx-3" id="deselectAllCrime">Deselect All</a>
                                </p>
                                <% for(var i = 0; i<result[1].length; i++) {%>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input crimeSelected" type="checkbox" value="" id="crime-<%= i %>" name="<%= result[1][i]['majorCrimeName'] %>" checked>
                                                <label class="form-check-label" for="crime-<%= i %>"><%= result[1][i]['majorCrimeName'] %></label>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                </div>
                            <div>
                                <div class="form-row">
                                    <div class="col">
                                        <button id="buttonSubmit" onclick="event.preventDefault();" class="btn btn-primary mb-3">Refresh</button>
                                      </div>
                                </div>
                            </div>
                      </form>
                  </div>
                  <div class="col-sm-9">
                    <div id="tooltip"></div>
                    <svg id="map" width="800" height="600"></svg>
                  </div>
              </div>
          </div> 
        </body>
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/d3.v6.js"></script>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script>            
          function drawChoropleth(startYearMonth, endYearMonth, boroughName = '', crimeTypes = ''){
            $.get(`/getLatLong/${boroughName}`, function( longLat ) {
                // The svg
                const svg = d3.select("svg"),
                width = +svg.attr("width"),
                height = +svg.attr("height");

                var tooltip = d3.select("#tooltip")
                .style("opacity", 0)
                .attr("class", "tooltip")
                .style("background-color", "white")
                .style("border", "solid")
                .style("border-width", "1px")
                .style("border-radius", "5px")
                .style("padding", "5px")
                .style("position", "absolute")
        
                // Map and projection
                const path = d3.geoPath();
                let projection = d3.geoMercator()
                        .scale(55000)
                        .center(longLat)
                        .translate([width / 2, height / 2]);
                if(boroughName != ''){
                    projection = d3.geoMercator()
                        .scale(120000)
                        .center(longLat)
                        .translate([width / 2, height / 2]);
                }

                // Data and color scale
                let data = new Map();

                let enquireCrimeURL = `/enquireCrime/${startYearMonth}/${endYearMonth}/${boroughName}`;
                if(crimeTypes != ''){
                    enquireCrimeURL += '?'
                    for(var i = 0; i < crimeTypes.length; i++){
                        enquireCrimeURL += 'crimeTypes[]='
                        enquireCrimeURL += crimeTypes[i];
                        if(i != crimeTypes.length - 1){
                            enquireCrimeURL += '&'
                        }
                    }
                }
                // Load external data and boot
                Promise.all([
                d3.json(`/londonGEO/${boroughName}`),
                d3.json(enquireCrimeURL)
                ]).then(function(loadData){
                  let londonGEO = loadData[0];
                  let crimeCountRows = loadData[1]['data'];
                  for(var i = 0; i<crimeCountRows.length; i++){
                    data.set(crimeCountRows[i].wardCode, crimeCountRows[i].crimeCount);
                  }

                  // Define mouse behaviours
                  let mouseOver = function(d) {
                    d3.select(this)
                        .transition()
                        .duration(0)
                        .style("opacity", 1)
                        .style("stroke", "black")
                    
                    let name = d.path[0].__data__.properties.WD21NM;
                    let wardCrimeCount = data.get(d.path[0].__data__.properties.WD21CD) || 0;

                    tooltip
                        .style("opacity", 0.8)
                        // .html(d.id + ": " + d3.format(",.2r")(d.total))
                        .html(name + " - " + wardCrimeCount)
                        .style("left", (d3.pointer(d)[0] - 10) + "px")		
                        .style("top", (d3.pointer(d)[1] - 38) + "px");
                    }

                    let mouseLeave = function(d) {
                        d3.select(this)
                        .transition()
                        .duration(0)
                        .style("stroke", "transparent")
                                            
                        tooltip
                            .style("opacity", 0)
                    }
                
                if('<%= borough %>'.length > 0 ){
                    interpolateColorScheme = d3.interpolateRgb.gamma(5)("green", "red");
                } else {
                    interpolateColorScheme = d3.interpolateRgb.gamma(5)("red", "green");
                }

                let sequentialScale = d3.scaleSequential()
                    .domain([parseInt(loadData[1]['minmax']['min']), parseInt(loadData[1]['minmax']['max'])])
                    .interpolator(interpolateColorScheme);

                  // Draw map
                  svg.append("g")
                    .selectAll("path")
                    .data(londonGEO.features)
                    .join("path")
                    // draw each wards
                    .attr("d", d3.geoPath()
                      .projection(projection)
                    )
                    // set the color of each country
                    .attr("fill", function (d) {
                          d.total = data.get(d.properties.WD21CD) || 0;
                      return sequentialScale(d.total);
                    })
                    .on("mouseover", mouseOver )
                    .on("mouseleave", mouseLeave )

                    $("#average").html(loadData[1]['average']);
                })
            }); 
          }

          
          $(document).ready(function(){
            $("#buttonSubmit").click(function(){
                const svg = d3.select("svg");
                svg.selectAll('*').remove();
                let boroughSelected = '';
                if($('#boroughSelect').val() != 'All boroughs'){
                    boroughSelected = $('#boroughSelect').val();
                }
                let crimeSelected = [];
                for(var i = 0; i < $('.crimeSelected').length; i++){
                    if($($('.crimeSelected')[i]).prop('checked')){
                        crimeSelected.push($($('.crimeSelected')[i]).attr('name'));
                    }
                }
                drawChoropleth($('#startYearMonth').val(), $('#endYearMonth').val(), boroughSelected, crimeSelected);
            });

            $("#selectAllCrime").click(function(){
                $('.crimeSelected').prop('checked', true);
            });

            $("#deselectAllCrime").click(function(){
                $('.crimeSelected').prop('checked', false);
            });
          })

          // init map
          drawChoropleth('<%= startYearMonth %>', '<%= endYearMonth %>', '<%= borough %>', '');
        </script>
</html>