<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Devices Statuses</h1>
            <p class="lead">Statuses of mySmartHome devices at a glance.</p>
          </div>
        <div class="container">
            <div class="row">
                <% devices.forEach(function(device){ %>
                    <div class="col-lg-4 col-md-6">
                        <div class="card my-2">
                            <div class="card-body">
                              <h5 class="card-title"><%= device.name %></h5>
                              <% if(device.canOnOff){ %><p id="cardOnOff">On/Off: <% if(device.onOff){ %>On<% } else { %>Off<% } %></p><% } %>
                              <% if(device.canOpenClose){ %><p id="cardOpenClose">Open/Close: <% if(device.openClose){ %>Open<% } else { %>Close<% } %></p><% } %>
                              <% if(device.canAdjustVol){ %><p id="cardVolume">Volume: <%= device.volume %></p><% } %>
                              <% if(device.canAdjustTemp){ %><p id="cardTemperature">Temperature: <%= device.temperature %></p><% } %>
                              <% if(device.canAdjustBrightness){ %><p id="cardBrightness">Brightness: <%= device.brightness %></p><% } %>
                              <a href="/update/<%= device.id %>" class="card-link">Update</a>
                              <a href="/delete/<%= device.id %>" class="card-link">Delete</a>
                            </div>
                          </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>
        <%- include('../partials/foot'); %>
</html>