<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Update device</h1>
            <p class="lead">Update the parameters for your device.</p>
        </div>
        <div class="container">
            <div class="alert alert-success" role="alert" id="successBanner">
                Successfully updated device in mySmartHome.
                <a href="/status">View statuses</a>.
            </div>
                <form id="updateForm">
                    <div class="row">
                        <div class="col-lg-6" id="form_onOff" <% if (!device.canOnOff) { %>hidden<% } %>>
                            <div class="form-group">
                                <label for="onOff">On/Off: </label>
                                <select class="form-control" name="onOff" id="onOff">
                                        <option value=1 <% if (device.onOff) { %>selected <% } %>>On</option>
                                        <option value=0 <% if (!device.onOff) { %>selected <% } %>>Off</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-6" id="form_openClose" <% if (!device.canOpenClose) { %>hidden<% } %>>
                            <div class="form-group">
                                <label for="openClose">Open/Close: </label>
                                <select class="form-control" name="openClose" id="openClose">
                                    <option value=1 <% if (device.openClose) { %>selected <% } %>>Open</option>
                                    <option value=0 <% if (!device.openClose) { %>selected <% } %>>Close</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-6" id="form_adjustVol" <% if (!device.canAdjustVol) { %>hidden<% } %>>
                            <div class="form-group">
                                <label for="adjustVol">Volume: (0-100)</label>
                                <input class="form-control" type="number" name="volume" id="adjustVol" placeholder=10 <% if (device.canAdjustVol) { %>value="<%= device.volume %>" required<% } %>></input>
                            </div>
                        </div>

                        <div class="col-lg-6" id="form_adjustTemp"<% if (!device.canAdjustTemp) { %>hidden <% } %>>
                            <div class="form-group">
                                <label for="adjustTemp">Temperature: (0-100 degree Celcius for non-cookware, 400 max for cookware) </label>
                                <input class="form-control" type="number" name="temperature" id="adjustTemp" placeholder=20 <% if (device.canAdjustTemp) { %>value="<%= device.temperature %>"required<% } %>></input>
                            </div>
                        </div>

                        <div class="col-lg-6" id="form_adjustBrightness" <% if (!device.canAdjustBrightness) { %>hidden<% } %>>
                            <div class="form-group">
                                <label for="adjustBrightness">Brightness: (0-100) </label>
                                <input class="form-control" type="number" name="brightness" id="adjustBrightness" placeholder=50 <% if (device.canAdjustBrightness) { %>value="<%= device.brightness %>" required<% } %>></input>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary" id="form_submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

    </body>
        <%- include('../partials/foot'); %>
        <script>
            var deviceTypes = {<% deviceTypes.forEach(function(deviceType){ %>
            "<%= deviceType.name %>": {id: <%=deviceType.id %>, canOnOff: <%= deviceType.canOnOff %>, canOpenClose: <%= deviceType.canOpenClose %>, canAdjustVol: <%= deviceType.canAdjustVol %>, canAdjustTemp: <%= deviceType.canAdjustTemp %>, canAdjustBrightness: <%= deviceType.canAdjustBrightness %>},
            <% }) %>};

            $(document).ready(function(){
                $("#successBanner").hide();
                $("#form_submit").click(function(){
                    event.preventDefault();
                    var selectedDeviceType = "<%= device.name %>";
                    formElements = handleForm(selectedDeviceType, deviceTypes);
                    formElements["id"] = <%= device.id %>;
                    $.ajax({
                        method: "POST",
                        url: "/update-device",
                        data: formElements
                    })
                        .done(function(){
                            $("#successBanner").show();
                            $("#updateForm").hide();
                        });
                });
            });
            
        </script>
</html>